
body{
  text-align: center;
  font-family: sans-serif;
  background-image:linear-gradient(to bottom right, #33adff , #7300e6);
  color:black;
}

#title{
font-size:45px;
}
#description{
  font-size:20px;
}

#body{
  width:600px;
  padding:30px;
  margin:auto;
  border-radius:10px;
  background-color:#7300e6;
  font-size:20px;
  
  
}

#name{
  width:560px;
  padding:15px;
  border-radius:10px;
 
}

#email{
    width:560px;
    padding:15px;
    border-radius:10px;
}

#number{
  width:560px;
    padding:15px;
    border-radius:10px;     
}
 
#comment{
   width:590px;
    padding:10x;
    border-radius:10px;
    border:none;
}

#submit{
  width:590px;
  padding:20px;
  font-size:20px;
  border-radius:10px;
  border:none;
  margin-top:3%;
  color:white;
  background-color:green;
}